#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary
                strong  Мастило Febi
            hr.solid
            p.lead  Гідравлічне мастило Febi


    //hr
    .row
        .col-md-4
            a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/radiator/rad5.jpg', target='_blank', data-plugin-options='{"type":"image"}')
                img.img-responsive(src='ap-img/ap-all-p/radiator/rad5.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons
                        li
                            i.fa.fa-check-circle
                            | гідравлічне
                        li
                            i.fa.fa-check-circle
                            | Nr. 06161

                        //li
                            i.fa.fa-check-circle
                            |  DIN 51524T2
                        li
                            i.fa.fa-check-circle
                            | Об'єм: 1 л.
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p Німеччина
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість:
                    p.lead
                        strong.color-primary 250 грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
                        i.icon-call-out.icons
                        | Замовити!


