#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary
                strong  HEPU
            hr.solid
            p.lead  Охолоджуюча рідина для радіатора HEPU



    .row
        .col-md-4
            a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/radiator/rad3.jpg', target='_blank', data-plugin-options='{"type":"image"}')
                img.img-responsive(src='ap-img/ap-all-p/radiator/rad3.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons

                        li
                            i.fa.fa-check-circle
                            | P999 G12

                        li
                            i.fa.fa-check-circle
                            | Об'єм: 1,5 л.
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p Німеччина
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість:
                    p.lead
                        strong.color-primary 165 грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
                        i.icon-call-out.icons
                        | Замовити!


