#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary
                strong  Мастило Motul
            hr.solid
            p.lead  Моторне Мастило Motul X-cess 5W40



    .row
        .col-md-4
            a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/motyl/motyl10.jpg', target='_blank', data-plugin-options='{"type":"image"}')
                img.img-responsive(src='ap-img/ap-all-p/motyl/motyl10.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons
                        li
                            i.fa.fa-check-circle
                            | моторне
                        li
                            i.fa.fa-check-circle
                            | ACEA: C3

                        li
                            i.fa.fa-check-circle
                            | BMW LL-01 , Fiat 9.55535-H2/M2/N2/Z2, GM - Opel LL B-025, PSA B71 2296, R RN0710/RN0700, VW 502 00/505 00
                        li
                            i.fa.fa-check-circle
                            | Об'єм: 1л.
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p Франція
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість:
                    p.lead
                        strong.color-primary 270 грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
                        i.icon-call-out.icons
                        | Замовити!


