footer#footer.top-class
    .container
        .row
            .footer-ribbon
                span На зв'язку
            .col-md-4
                .contact-details
                    h4
                        strong    Контакти:
                    ul.contact
                        li
                            p
                                i.fa.fa-map-marker
                                strong Адреса:
                                |  вул. Галицька 38, м. Зимна Вода, Україна.
                        li
                            p
                                i.fa.fa-phone
                                strong
                                |  +38(097) 425 46 46
                        li
                            p
                                i.fa.fa-phone
                                strong
                                |  +38(068) 229 14 94
                        li
                            p
                                i.fa.fa-phone
                                strong
                                |  +38(093) 014 15 01
                        li
                            p
                                i.fa.fa-phone
                                strong
                                |  +38(050) 912 60 28
                        li
                            p
                                i.fa.fa-phone
                                strong
                                |  +38(095) 470 30 34

                        li
                            p
                                i.fa.fa-envelope
                                strong Напишіть нам:
                                a(href='mailto:avtopartnerlviv@gmail.com') avtopartnerlviv@gmail.com



            .col-md-3

                .contact-details
                    h4
                        strong    Графік роботи:
                    ul.contact
                        li
                            p
                                i.fa.fa-clock-o
                                |  Понеділок - П'ятниця - 09:00 - 18:00
                        li
                            p
                                i.fa.fa-clock-o
                                |  Субота - 09:00 - 14:00
                        li
                            p
                                i.fa.fa-clock-o
                                |  Неділя - вихідний


            .col-md-3
                .contact-details
                    h4
                        strong    Останні новини:
                    //p
                        | Ми запустили сервіс пошуку товару за кодом. Тепер підбирати та замовляти автозапчастини стане значно швидше та зручніше.

                    p
                        | Ми запустили бета-тест B2B системи. Доступ до системи під час бета-тестування обмежений та надається за індивідуальною домовленістю.




            .col-md-2
                .contact-details
                    h4
                        strong    Соціальні:
                    ul.social-icons
                        //li.social-icons-facebook
                            a(href='https://www.facebook.com/groups/252239245218747/', target='_blank', title='Facebook')
                                i.fa.fa-facebook
                        li.social-icons-vk
                            a(href='https://vk.com/club141399988', target='_blank', title='VK')
                                i.fa.fa-vk
                        //li.social-icons-twitter
                            a(href='https://twitter.com/YourAutoPartner', target='_blank', title='Twitter')
                                i.fa.fa-twitter

    .footer-copyright
        .container
            .row
                .col-md-12.center
                    #vk_community_messages
                    p
                        strong    АвтоПартер © 2010-2017. Усі права захищено.
