section
    hr.transparent
    .container
        .row
            .col-md-12.center
                h2.mt-xl.mb-none Український магазин автомобільних запчастин -
                    strong.heading-primary  "Авто Партнер"

                .row
                    .col-md-12.center
                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='200')
                            p.mt-lg.lead
                                |   Ми щодня наполегливо працюємо, щоб наші клієнти у максимально стислі строки отримували очікуваний результат.

                    .col-md-offset-3.col-md-6
                        .isotope-item
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='500')
                                img.img-team-static.img-responsive(alt='AutoPartner', src='ap-img/ap-new/team-2.jpg')

                    .col-md-12.center
                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='200')
                            p.mt-lg.lead
                                |  Для нас торгівля автозапчастинами - це справа, яку ми любимо і намагаємося бути у ній кращими!  Дзвоніть, пишіть, замовляйте і Ви будете приємно здивовані результатом!
        hr.transparent
    .container

        .row
            .col-md-4
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                    .feature-box
                        .feature-box-icon
                            i.fa.fa-archive
                        .feature-box-info
                            h4.mb-sm Наявність на складі
                            p.tall
                                | У нас широкий асортимент автозапчастин, який регулярно оновлюється. Практично завжди ми можемо запропонувати реальне рішення зі складу без зайвих очікувань.
            .col-md-4
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='100')
                    .featured-boxes.featured-boxes-style-4
                        .featured-box.featured-box-primary.mt-none.mb-none
                            .box-content
                                i.icon-featured.fa.fa-users
                                h4 Компететні продавці-консультанти
                                p   Наші продавці-консультанти добре розуміються на товарі, який пропонують. Якщо у Вас є запитання або Вам потрібна консультація, ми допоможемо Вам.

            .col-md-4
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='200')
                    .feature-box.reverse
                        .feature-box-icon
                            i.fa.fa-truck
                        .feature-box-info
                            h4.mb-sm Власна доставка
                            p.tall
                                | Ми використовуємо власний транспорт і доставляємо товар в межах Львова за індивідуальною домовленістю. Окрім цього у нас налагоджена ефективна взаємодія із "Новою Поштою".
        .row
            .col-md-4
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')

                    .feature-box
                        .feature-box-icon
                            i.fa.fa-thumbs-up
                        .feature-box-info
                            h4.mb-sm Баланс ціни і якості
                            p.tall
                                | Ми пропонуємо як оригінальні запчастини, так і їх аналоги в різних цінових категоріях. Кожен знайде собі товар по гаманцю.
            .col-md-4
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='100')
                    .featured-boxes.featured-boxes-style-4
                        .featured-box.featured-box-primary.mt-none.mb-none
                            .box-content
                                i.icon-featured.fa.fa-star
                                h4 Максимальний рейтинг довіри на "АвтоПро"
                                p
                                    |   Ви можете відвідати нашу сторінку і прочитати відгуки про нас, сформувати своє особисте враження.
            .col-md-4
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='200')
                    .feature-box.reverse
                        .feature-box-icon
                            i.fa.fa-heart
                        .feature-box-info
                            h4.mb-sm Нас люблять наші клієнти!
                            p.tall
                                | А ми любимо їх і працюємо з натхненням, забезпечуючи максимально можливий рівень сервісу та адекватні терміни доставки.
    hr.transparent



section.parallax.section.section-text-light.section-parallax.section-center.mt-xl(data-plugin-parallax='', data-plugin-options='{"speed": 1.4}', data-image-src='ap-img/ap-main/parax.jpg')
    .container
        .row
            .counters.counters-text-light
                .col-md-3.col-sm-6
                    .counter.mb-lg.mt-lg
                        i.icon-present.icons
                        strong(data-to='4000', data-append='+') 4000
                        label
                            h6  товарних позицій завжди в наявності
                .col-md-3.col-sm-6
                    .counter.mb-lg.mt-lg
                        i.icon-organization.icons
                        strong(data-to='10', data-append='+') 10
                        label
                            h6  потужних європейських постачальників
                .col-md-3.col-sm-6
                    .counter.mb-lg.mt-lg
                        i.icon-trophy.icons
                        strong(data-to='100', data-append='%') 100
                        label
                            h6  рейтинг довіри на АвтоПро
                .col-md-3.col-sm-6
                    .counter.mb-lg.mt-lg
                        i.icon-people.icons
                        strong(data-to='2000', data-append='+') 2000
                        label
                            h6  задоволених клієнтів



section
    .container
        hr.transparent
        .row
            .col-md-12.center
                h2.mt-xl.mb-none
                    strong.heading-primary Команда


        .row.mt-lg
            .owl-carousel.owl-theme.owl-team-custom.show-nav-title(data-plugin-options='{"items": 4, "margin": 10, "loop": false, "nav": false, "dots": false}')
                .center.mb-lg
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        .feature-box.img-mainteam-filter
                            //a(href='#')
                            img.img-responsive.img-bor-rad(src='ap-img/ap-new/team-orest.jpg', alt='')
                            h4.mt-md.mb-none.lead
                                strong  Орест
                            p.mb-none Директор
                            span.thumb-info-phone.mt-sm.pb-none
                                a.text-decoration-none(href='tel:+380962787050')
                                    i.icon-call-out.icons.lead
                                        //p.lead +38 (077) 333 33 33
                            span.thumb-info-social-icons.mt-sm.pb-none
                                //a(href='http://www.facebook.com/groups/252239245218747/', target='_blank')
                                    i.fa.fa-facebook
                                    span Facebook
                                a(href='https://vk.com/club141399988', target='_blank')
                                    i.fa.fa-vk
                                    span vk
                                a(href='mailto:garag07@gmail.com')
                                    i.fa.fa-envelope
                                    span e-mail

                            hr
                .center.mb-lg
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='750')
                        .feature-box.img-mainteam-filter
                            //a(href='#')
                            img.img-responsive.img-bor-rad(src='ap-img/ap-new/team-andriy.jpg', alt='')
                            h4.mt-md.mb-none.lead
                                strong  Андрій
                            p.mb-none Продавець-консультант
                            span.thumb-info-phone.mt-sm.pb-none
                                a.text-decoration-none(href='tel:+380682291494')
                                    i.icon-call-out.icons.lead
                                        //p.lead +38 (077) 555 55 55


                            span.thumb-info-social-icons.mt-sm.pb-none
                                //a(href='http://www.facebook.com/groups/252239245218747/', target='_blank')
                                    i.fa.fa-facebook
                                    span Facebook
                                a(href='https://vk.com/club141399988', target='_blank')
                                    i.fa.fa-vk
                                    span vk
                                a(href='mailto:andriy.autopartner@gmail.com')
                                    i.fa.fa-envelope
                                    span e-mail
                            hr
                .center.mb-lg
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1000')
                        .feature-box.img-mainteam-filter
                            //a(href='#')
                            img.img-responsive.img-bor-rad(src='ap-img/ap-new/team-volodimir.jpg', alt='')
                            h4.mt-md.mb-none.lead
                                strong  Володимир
                            p.mb-none Продавець-консультант
                            span.thumb-info-phone.mt-sm.pb-none
                                a.text-decoration-none(href='tel:+380974254646')
                                    i.icon-call-out.icons.lead
                                        //p.lead +38 (077) 111 11 11
                            span.thumb-info-social-icons.mt-sm.pb-none
                                //a(href='http://www.facebook.com/groups/252239245218747/', target='_blank')
                                    i.fa.fa-facebook
                                    span Facebook
                                a(href='https://vk.com/club141399988', target='_blank')
                                    i.fa.fa-vk
                                    span vk
                                a(href='mailto:volodimir.autopartner@gmail.com')
                                    i.fa.fa-envelope
                                    span e-mail
                            hr
                .center.mb-lg
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1250')
                        .feature-box.img-mainteam-filter
                            //a(href='#')
                            img.img-responsive.img-bor-rad(src='ap-img/ap-new/team-nazar.jpg', alt='')
                            h4.mt-md.mb-none.lead
                                strong  Назар
                            p.mb-none Продавець-консультант
                            span.thumb-info-phone.mt-sm.pb-none
                                a.text-decoration-none(href='tel:+380930331443')
                                    i.icon-call-out.icons.lead
                                        //p.lead +38 (077) 222 22 22
                            span.thumb-info-social-icons.mt-sm.pb-none
                                //a(href='http://www.facebook.com/groups/252239245218747/', target='_blank')
                                    i.fa.fa-facebook
                                    span Facebook
                                a(href='https://vk.com/club141399988', target='_blank')
                                    i.fa.fa-vk
                                    span vk
                                a(href='mailto:nazar.autopartner@gmail.com')
                                    i.fa.fa-envelope
                                    span e-mail
                            hr
                .center.mb-lg
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        .feature-box.img-mainteam-filter
                            //a(href='#')
                            img.img-responsive.img-bor-rad(src='ap-img/ap-new/team-oleg.jpg', alt='')
                            h4.mt-md.mb-none.lead
                                strong  Ярослав
                            p.mb-none Кур'єр
                            span.thumb-info-phone.mt-sm.pb-none
                                a.text-decoration-none(href='tel:+380930227548')
                                    i.icon-call-out.icons.lead
                                        //p.lead +38 (077) 000 000 00
                            span.thumb-info-social-icons.mt-sm.pb-none
                                //a(href='https://www.facebook.com/groups/252239245218747/', target='_blank')
                                    i.fa.fa-facebook
                                    span Facebook
                                a(href='https://vk.com/club141399988', target='_blank')
                                    i.fa.fa-vk
                                    span vk
                                a(href='mailto:yaroslav.autopartner@gmail.com')
                                    i.fa.fa-envelope
                                    span e-mail
                            hr













