section.section.parallax.section-parallax(data-plugin-parallax='', data-plugin-options='{"speed": 1.7}', data-image-src='ap-img/ap-main/bent-parax.jpg')
    .container
        .row
            .col-md-12.center
                h2.mt-xl.mb-none.text-light Спеціальна пропозиція
                .divider.divider-primary.divider-small.divider-small-center.mb-xl
                    hr
                .owl-carousel.owl-theme(data-plugin-options='{"items": 4, "margin": 10, "loop": true, "autoplay": true, "autoplayTimeout": 2000}')

                    .portfolio-item.img-team-filter
                        a(href='#popupProject', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten.thumb-info-no-zoom
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/ap-product/oil-combo-ww.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо VW LL III
                                        span.thumb-info-type 1405 грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square
                        // Popup Project - Start Комбо VW №1
                        #popupProject.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо Volkswagen LongLife III
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    span.img-thumbnail
                                        img.img-responsive(alt='', src='ap-img/ap-product/oil-combo-ww.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо VW
                                                        | ,
                                                        a(href='#') Мастила
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Мастило моторне Volkswagen LongLife III

                                    .row
                                        .col-md-6

                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Характеристики:
                                                    ul.list.list-icons
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Маркування: G052195M4 / G052195M2
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Заводський допуск: VW 504 00 / 507 00
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Комплектація: 5л. + 1л.
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Виробник: - Німеччина
                                                        //li
                                                            i.fa.fa-check-circle
                                                            |  Комбо-знижка: 10%
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 1 405 грн.

                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!
                        // Popup Project - End



                    .portfolio-item.img-team-filter
                        a(href='#popupProject2', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten.thumb-info-no-zoom
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/ap-product/oil-combo-total.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо Total Q 9000
                                        span.thumb-info-type   650 грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square
                        // Popup Project 2 - Start Комбо Total
                        #popupProject2.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо Total Q 9000
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    .owl-carousel.owl-theme(data-plugin-options='{"items": 1, "margin": 10, "animateOut": "fadeOut", "autoplay": true, "autoplayTimeout": 1000}')
                                        div
                                            span.img-thumbnail
                                                img.img-responsive(alt='', src='ap-img/ap-product/oil-combo-total.jpg')
                                        div
                                            span.img-thumbnail
                                                img.img-responsive(alt='', src='ap-img/ap-product/oil-combo-total.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо Total
                                                        | ,
                                                        a(href='#') Мастила
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Мастило моторне Total Quartz 9000 energy 5w40
                                    .row
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Характеристики:
                                                    ul.list.list-icons
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Маркування: Total Quartz 9000 energy
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Заводський допуск: VW 502 00 / 505 00 MB 229.3 / MB 229.5
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Комплектація: 5л. + 1л.
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Виробник: - Франція
                                                        //li
                                                            i.fa.fa-check-circle
                                                            |  Комбо-знижка: 10%
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 650 грн.
                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!

                        // Popup Project 2 - End




                    .portfolio-item.img-team-filter
                        a(href='#popupProject3', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/ap-product/oil-combo-motul.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо Motul 6100 S+
                                        span.thumb-info-type 740 грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square

                        // Popup Project 3 - Start Комбо Motul
                        #popupProject3.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо Motul 10w40 6100 S+
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    span.img-thumbnail
                                        img.img-responsive(alt='', src='ap-img/ap-product/oil-combo-motul.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо Motul
                                                        | ,
                                                        a(href='#') Мастила
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Мастило моторне Motul 10w40
                                    .row
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Характеристики:
                                                    ul.list.list-icons
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Маркування: Motul 6100 Synergie+ 10w40
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Заводський допуск: VW 502 00 / 505 00 MB 229.3 / MB 229.5
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Комплектація: 4л. + 1л.
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Виробник: - Франція
                                                        //li
                                                            i.fa.fa-check-circle
                                                            |  Комбо-знижка: 10%
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 740 грн.
                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!

                        // Popup Project 3 - End





                    .portfolio-item.img-team-filter
                        a(href='#popupProject4', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/ap-product/oil-combo-ww-2.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо WW 5W40 SP
                                        span.thumb-info-type 1 180 грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square





                        // Popup Project 4 - Start Комбо VW №2
                        #popupProject4.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо VW VAG 5W40 Special Plus
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    span.img-thumbnail
                                        img.img-responsive(alt='', src='ap-img/ap-product/oil-combo-ww-2.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо VW №2
                                                        | ,
                                                        a(href='#') Мастила
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Мастило моторне VAG 5W40 Special Plus
                                    .row
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Характеристики:
                                                    ul.list.list-icons
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Маркування: G052167M4 / G052167M2
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Заводський допуск: VW 502 00 / 505 01
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Комплектація: 5л. + 1л.
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  Виробник: - Німеччина
                                                        //li
                                                            i.fa.fa-check-circle
                                                            |  Комбо-знижка: 10%
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 1 180 грн.
                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!

                        // Popup Project 4 - End








                    .portfolio-item.img-team-filter
                        a(href='#popupProject5', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/remaster/af-combo-vtp.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо Фільтри VTP
                                        span.thumb-info-type 970грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square



                        // Popup Project 5 - Start
                        #popupProject5.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо Фільтри VTP
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    span.img-thumbnail
                                        img.img-responsive(alt='', src='ap-img/remaster/af-combo-vtp.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо VTP
                                                        | ,
                                                        a(href='#') Фільтри
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Комплект фільтрів для Opel Vivaro / Renault Trafic / Nissan Primastar 1.9DI & 1.9DTI
                                    .row
                                        .col-md-6

                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Комплектація
                                                    ul.list.list-icons
                                                        ul.list.list-icons
                                                            li
                                                                i.fa.fa-check-circle
                                                                |  фільтр масляний Renault 77 00 274 177
                                                            li
                                                                i.fa.fa-check-circle
                                                                |  фільтр паливний Bosch 1 457 431 724
                                                            li
                                                                i.fa.fa-check-circle
                                                                |  фільтр повітряний Purflux A1232
                                                            li
                                                                i.fa.fa-check-circle
                                                                |  фільтр салону JC Premium B4X023PR
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 970 грн.
                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!

                        // Popup Project 5 - End
                    .portfolio-item.img-team-filter
                        a(href='#popupProject6', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/remaster/af-combo-trans.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо Transporter
                                        span.thumb-info-type 460грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square


                        // Popup Project 6 - Start
                        #popupProject6.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо Фільтри Transporter
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    span.img-thumbnail
                                        img.img-responsive(alt='', src='ap-img/remaster/af-combo-trans.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо Transporter
                                                        | ,
                                                        a(href='#') Фільтри
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Комплект фільтрів для Volkswagen Transporter T5 1.9TDI & 2.5TDI 2003-2010р.в.
                                    .row
                                        .col-md-6

                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Комплектація
                                                    ul.list.list-icons
                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр масляний Knecht OX188D
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  фільтр паливний Knecht KL229/4
                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр повітряний Knecht LX786
                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр салону Knecht LA181
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 460 грн.
                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!

                        // Popup Project 6 - End









                    .portfolio-item.img-team-filter
                        a(href='#popupProject7', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/remaster/af-combo-fiat.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо Фільтри Fiat
                                        span.thumb-info-type 500 грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square
                        // Popup Project 7 - Start
                        #popupProject7.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо Фільтри Fiat
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    span.img-thumbnail
                                        img.img-responsive(alt='', src='ap-img/remaster/af-combo-fiat.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо Fiat
                                                        | ,
                                                        a(href='#') Фільтри
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Комплект фільтрів для Fiat Doblo 1.3 multijet з 2005р.в.
                                    .row
                                        .col-md-6

                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Комплектація
                                                    ul.list.list-icons
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  фільтр масляний Purflux L330

                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр паливний Purflux C507A

                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр повітряний Purflux A1227
                                                        //li
                                                            i.fa.fa-check-circle
                                                            |  Фільтр №4
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 500 грн.
                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!

                        // Popup Project 7 - End
                    .portfolio-item.img-team-filter
                        a(href='#popupProject8', data-portfolio-on-modal='')
                            span.thumb-info.thumb-info-lighten
                                span.thumb-info-wrapper
                                    img.img-responsive(src='ap-img/remaster/af-combo-caddy.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Комбо Фільтри Caddy
                                        span.thumb-info-type 770 грн.
                                    span.thumb-info-action
                                        span.thumb-info-action-icon
                                            i.fa.fa-plus-square


                        // Popup Project 8 - Start
                        #popupProject8.popup-inline-content
                            .row
                                .col-md-12
                                    .portfolio-title
                                        .row
                                            .portfolio-nav-all.col-md-1
                                                a(href='#', data-portfolio-close='')
                                                    i.fa.fa-th
                                            .col-md-10.center
                                                h2.mb-none Комбо Фільтри Caddy
                                            .portfolio-nav.col-md-1
                                                a.portfolio-nav-prev(href='#', data-portfolio-prev='')
                                                    i.fa.fa-chevron-left
                                                a.portfolio-nav-next(href='#', data-portfolio-next='')
                                                    i.fa.fa-chevron-right
                                    hr.tall
                            .row.mb-xl
                                .col-md-4
                                    span.img-thumbnail
                                        img.img-responsive(alt='', src='ap-img/remaster/af-combo-caddy.jpg')
                                .col-md-8
                                    .portfolio-info
                                        .row
                                            .col-md-12.center
                                                ul
                                                    //li
                                                        a(href='#', data-tooltip='', data-original-title='Like')
                                                            i.fa.fa-heart
                                                            | 14
                                                    li
                                                        i.fa.fa-like
                                                        |  В наявності
                                                    li
                                                        i.fa.fa-tags
                                                        a(href='#') Комбо Caddy
                                                        | ,
                                                        a(href='#') Фільтри
                                    h5.mt-sm Опис позиції
                                    p.mt-xlg
                                        | Комплект фільтрів для Volkswagen Caddy 1.9TDI 2004-2010р.в.

                                    .row
                                        .col-md-6

                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Комплектація
                                                    ul.list.list-icons
                                                        li
                                                            i.fa.fa-check-circle
                                                            |  фільтр масляний Knecht OX188D


                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр паливний Knecht KX220D

                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр повітряний Knecht LX1211

                                                        li
                                                            i.fa.fa-check-circle
                                                            | фільтр салону Knecht LA181
                                        //.col-md-3
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Виробник:
                                                    p Німеччина
                                        .col-md-6
                                            ul.portfolio-details
                                                li
                                                    h5.mt-sm.mb-xs Вартість:
                                                    p.lead
                                                        strong.color-primary 770 грн.
                                    .row
                                        .col-md-offset-9.col-md-3
                                            a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                                                i.icon-call-out.icons
                                                | Замовити!

                        // Popup Project 8 - End

