.slider-container.rev_slider_wrapper(style='height: 720px;')
    #revolutionSlider.slider.rev_slider
        ul
            li(data-transition='fade', data-title='АвтоПартнер', data-thumb='ap-img/remaster/rev-orest-new.jpg')
                img.rev-slidebg(src='ap-img/remaster/rev-orest-new.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
                .tp-caption.tp-caption-overlay-opacity.top-label(data-x='left', data-hoffset='98', data-y='center', data-voffset='-195', data-start='1000', style='z-index: 5', data-transform_in='y:[-300%];opacity:0;s:500;') Запрошуємо до магазину
                .tp-caption.main-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='-145', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') АвтоПартнер
                //.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='-95', data-start='2500', style='z-index: 5', data-transform_in='y:[100%];opacity:0;s:500;') Ваш Партнер №1 у питаннях автозапчастин.
                a.tp-caption.btn.btn-primary.btn-lg.btn-slider(href='#end', data-x='left', data-hoffset='100', data-y='center', data-voffset='-70', data-start='2500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Детальніше...
            li(data-transition='fade', data-title='Склад', data-thumb='ap-img/remaster/ap-storage2.jpg')
                img.rev-slidebg(src='ap-img/remaster/ap-storage2.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
                .tp-caption.tp-caption-overlay-opacity.top-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='20', data-start='1000', style='z-index: 5', data-transform_in='y:[-300%];opacity:0;s:500;') Завжди в наявності
                .tp-caption.main-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='75', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') понад 4000 товарних позицій
                //.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='left', data-hoffset='100', data-y='center', data-voffset='220', data-start='2000', style='z-index: 5', data-transform_in='y:[100%];opacity:0;s:500;') і значно більше під замовлення.
                //a.tp-caption.btn.btn-primary.btn-lg.btn-slider(href='index-b2b.html', data-x='center', data-hoffset='320', data-y='center', data-voffset='180', data-start='2000', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Пошук по коду
            li(data-transition='fade', data-title='Асортимент', data-thumb='ap-img/remaster/ap-oilstand.jpg')
                img.rev-slidebg(src='ap-img/remaster/ap-oilstand.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
                .tp-caption.main-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-205', data-start='1000', style='z-index: 5; font-size: 40px;', data-transform_in='y:[-300%];opacity:0;s:500;') Наш асортимент:
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-145', data-start='1500', data-transform_in='x:[-100%];opacity:0;s:500;')
                    i.fa.fa-check
                    |  Ходова та трансмісія
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-100', data-start='1800', data-transform_in='x:[-100%];opacity:0;s:500;')
                    i.fa.fa-check
                    |  Мастила і фільтри
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-55', data-start='2100', data-transform_in='x:[-100%];opacity:0;s:500;')
                    i.fa.fa-check
                    |  Диски і шини
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-10', data-start='2400', data-transform_in='x:[-100%];opacity:0;s:500;')
                    i.fa.fa-check
                    |  Двигун і Кузов
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='35', data-start='2700', data-transform_in='x:[-100%];opacity:0;s:500;')
                    i.fa.fa-check
                    |  Засоби догляду за авто
                //.tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='80', data-start='3000', data-transform_in='x:[-100%];opacity:0;s:500;')
                    i.fa.fa-check
                    |  та багато іншого
                a.tp-caption.btn.btn-primary.btn-lg.btn-slider(href='index-assorti.html', data-hash='', data-hash-offset='85', data-x='right', data-hoffset='100', data-y='center', data-voffset='150', data-start='3500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;')
                    | Вітрина
                    //i.fa.fa-long-arrow-right
            li(data-transition='fade', data-title='Продавці', data-thumb='ap-img/remaster/ap-sales1.jpg')
                img.rev-slidebg(src='ap-img/remaster/ap-sales1.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
                .tp-caption.tp-caption-overlay-opacity.top-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='0', data-start='1000', style='z-index: 5', data-transform_in='y:[-300%];opacity:0;s:500;') Потребуєте допомоги у виборі запчастини?
                .tp-caption.main-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='50', data-start='2500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:1500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Компетентні продавці
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='110', data-start='2800', style='z-index: 5', data-transform_in='y:[100%];opacity:0;s:500;') нададуть Вам вичерпну консультацію
                //a.tp-caption.btn.btn-primary.btn-lg.btn-slider(href='index-assorti.html', data-hash='', data-hash-offset='85', data-x='right', data-hoffset='100', data-y='center', data-voffset='165', data-start='3500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Консультація
    #end
