#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary
                strong  Мастило GM
            hr.solid
            p.lead  моторне мастило GM 5w-30


    //hr
    .row
        .col-md-4
            a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/bmw/bmw3.jpg', target='_blank', data-plugin-options='{"type":"image"}')
                img.img-responsive(src='ap-img/ap-all-p/bmw/bmw3.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons
                        li
                            i.fa.fa-check-circle
                            | моторне
                        li
                            i.fa.fa-check-circle
                            | API SN/CF
                        li
                            i.fa.fa-check-circle
                            |  VW 502.00,505.00,505.01, MB 229.51, Dexos2
                        li
                            i.fa.fa-check-circle
                            | Об'єм: 1л.
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p ____
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість:
                    p.lead
                        strong.color-primary 140 грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
                        i.icon-call-out.icons
                        | Замовити!




