#custom-content.white-popup-block.white-popup-block-md
  .row
    .col-md-12
      h1.heading-primary
        strong  Мастило Toyota
      hr.solid
      p.lead  моторне мастило Toyota 5w30 5l


  //hr
  .row
    .col-md-4
      a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/bmw/toyota1.jpg', target='_blank', data-plugin-options='{"type":"image"}')
        img.img-responsive(src='ap-img/ap-all-p/bmw/toyota1.jpg')
    .col-md-8

      ul.portfolio-details
        li
          h5.mt-sm.mb-xs ПАРАМЕТРИ:
          ul.list.list-icons
            li
              i.fa.fa-check-circle
              | моторне
            li
              i.fa.fa-check-circle
              | API SL/CF, ACEA A1/B2 A5/B5

            li
              i.fa.fa-check-circle
              | Об'єм: 5л.
  .row
    .col-md-4
      ul.portfolio-details
        li
          h5.mt-sm.mb-xs Виробник:
          p Бельгія
    .col-md-4
      ul.portfolio-details
        li
          h5.mt-sm.mb-xs Вартість:
          p.lead
            strong.color-primary 890 грн.

    .col-md-4
      ul.portfolio-details
        li
          a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
            i.icon-call-out.icons
            | Замовити!


