#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary
                strong  Мастило Mazda
            hr.solid
            p.lead  моторне мастило для двигуна mazda ultra 5w-30



    .row
        .col-md-4
            a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/mazda/mazda2.jpg', target='', data-plugin-options='{"type":"image"}')
                img.img-responsive(src='ap-img/ap-all-p/mazda/mazda2.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons
                        li
                            i.fa.fa-check-circle
                            | моторне
                        li
                            i.fa.fa-check-circle
                            | original Mazda oil
                        //li
                            i.fa.fa-check-circle
                            |  MB229.51, VW 504 00/507 00
                        li
                            i.fa.fa-check-circle
                            | Об'єм: 1л.
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p Франція
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість:
                    p.lead
                        strong.color-primary 185 грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
                        i.icon-call-out.icons
                        | Замовити!


