doctype html
html
    head
        include ap-vendor/a-head
    body
        .body
            include ap-vendor/a-header
            .main(role='main')
                include ap-vendor/catalog





    include ap-vendor/a-foot
        include ap-vendor/a-main-vendor


