doctype html
html
    head
        include ap-vendor/a-head
    body
        .body
            include ap-vendor/a-header
            .main(role='main')
                hr.transparent

                .container
                    h2
                        | Питання -
                        strong.color-primary   Відповідь
                    .row
                        .col-md-12
                            p.lead
                                | Ми підготували для вас перелік запитань, що найчастіше задають наші клієнти. Якщо у Вас виникли запитання, прочитайте цей розділ. Ймовірно відповідь уже є!
                    //hr.transparent
                    .row
                        .col-md-10

                            .toggle.toggle-primary.toggle-simple(data-plugin-toggle='')

                                section.toggle
                                  label
                                    p.lead
                                      strong "Як оформити замовлення?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "Для цього потрібно зателефонувати по одному із вказаних у контактах телефону та уточнити у консультанта наявність товару на складі. Далі потрібно узгодити вартість, спосіб оплати та терміни доставки і Ваше замовлення почне виконуватись."
                                section.toggle
                                  label
                                    p.lead
                                      strong "Чи потрібно оплачувати завдаток, щоб здійснити замовлення? Яка сума завдатку?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "Так, потрібно. Для Товару вартістю до 200 гривень - повна оплата. Для товару вартістю від 200 до 500 гривень - 100 гривень. Для товарів вартістю від 500 гривень - 20% вартості товару."
                                section.toggle
                                  label
                                    p.lead
                                      strong "Чи доставляєте ви товар?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "Так, у нас працює власна служба доставки але лише у межах міста Львова. Вартість доставки визначається в індивідуальному порядку в залежності від вартості замовлення та пункту призначення."
                                section.toggle
                                  label
                                    p.lead
                                      strong  "Як отримати товар?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "Ви можете отримати товар наступним чином: самовивіз із магазину, отримати товар у найближчому відділенні "Нової Пошти" або ж замовити нашу власну курьєрську доставку в межах міста Львова.
                                section.toggle
                                  label
                                    p.lead
                                      strong  "З якими перевізниками працюєте і чи відправляєте товар наложеним платежом? Які терміни доставки?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "Наложеним платежом - відправляємо. Працюємо із "Новою Поштою". З іншими перевізниками ми не працюємо. У випадку замовлення товару зі складу до 16:00 відправка здійснюється у той жеж день, якщо ж Ви замовили товар зі складу після 16:00, то відправка здійснюється на наступний день."
                                section.toggle
                                  label
                                    p.lead
                                      strong"Чи усі запчастини є в наявності на вашому складі?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "На складі Автопартнера є понад 4000 товарних позицій, які завжди в наявності. Проте ми доставляємо запчастини і під замовлення. Двічі на тиждень у понеділок та середу відбувається оновлення товарного асортименту та прихід замовлених клієнтами запчастин."

                                section.toggle
                                  label
                                    p.lead
                                      strong "Чи можете ви підібрати для мене запчастину якщо є не знаю коду?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "Бажано, щоб ви знали код товару, який Вам потрібен. Це дозволяє досягти максимальної швидкості та точності у підборі запчастини. Проте ми спробуємо допомогти Вам навіть у тому випадку, коли ви не знаєте коду. Для цього дізнайтесь номер кузова автомобіля та будьте готові відповісти на декілька запитань."
                                section.toggle
                                  label
                                    p.lead
                                      strong"Чи можу я повернути товар, якщо він мені не підійшов?"
                                  .toggle-content(style='display: none;')
                                    p.lead
                                      | - "Поверненню не підлягає: увесь товар під замовлення та електротовари. Товар зі складу Ви можете повернути протягом 14 днів з моменту отримання та за умови збереження цілісності упаковки. "

                    .row
                      .col-md-12
                        p.lead
                          | Якщо у вас залишилось запитання без відповіді, зателефонуйте до нас, ми з радістю відповімо на нього!
                    hr.transparent




    include ap-vendor/a-foot
    include ap-vendor/a-main-vendor