#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary
                strong  Мастило Total
            hr.solid
            p.lead  моторне мастило Total Quartz INEO MC3


    //hr
    .row
        .col-md-4
            a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/total/total4.jpg', target='_blank', data-plugin-options='{"type":"image"}')
                img.img-responsive(src='ap-img/ap-all-p/total/total4.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons
                        li
                            i.fa.fa-check-circle
                            | моторне
                        li
                            i.fa.fa-check-circle
                            | ACEA C3, API SN/CF
                        li
                            i.fa.fa-check-circle
                            | PSA B71 2297
                        li
                            i.fa.fa-check-circle
                            | Об'єм: 5л.
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p E.C.
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість:
                    p.lead
                        strong.color-primary 810 грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
                        i.icon-call-out.icons
                        | Замовити!


