#custom-content.white-popup-block.white-popup-block-md
  .row
    .col-md-12
      h1.heading-primary
        strong  Мастило Hipospec
      hr.solid
      p.lead  Трансмісійне мастило Hipospec GL-5 75W/90


  //hr
  .row
    .col-md-4
      a.img-thumbnail.lightboximg-thumbnail.img-thumbnail-hover-icon.img-ajax-filter(title='', href='ap-img/ap-all-p/trans-oil/trans12.jpg', target='_blank', data-plugin-options='{"type":"image"}')
        img.img-responsive(src='ap-img/ap-all-p/trans-oil/trans12.jpg')
    .col-md-8

      ul.portfolio-details
        li
          h5.mt-sm.mb-xs ПАРАМЕТРИ:
          ul.list.list-icons
            li
              i.fa.fa-check-circle
              | трансмісійне
            li
              i.fa.fa-check-circle
              | Api GL-5, SAE 75W/90, MAN 342, MB 235.6


            li
              i.fa.fa-check-circle
              | Об'єм: 1 л.
  .row
    .col-md-4
      ul.portfolio-details
        li
          h5.mt-sm.mb-xs Виробник:
          p Польща
    .col-md-4
      ul.portfolio-details
        li
          h5.mt-sm.mb-xs Вартість:
          p.lead
            strong.color-primary 140 грн.

    .col-md-4
      ul.portfolio-details
        li
          a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
            i.icon-call-out.icons
            | Замовити!


