#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary Гідравлічне мастило
            p
                |  гідравлічне мастило

    .row
        .col-md-4
            img.img-responsive(src='ap-img/ap-all-p/trans-oil/trans8.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons
                        li
                            i.fa.fa-check-circle
                            |  id:OA-1


                        li
                            i.fa.fa-check-circle
                            | .........

                        li
                            i.fa.fa-check-circle
                            | .........

                        li
                            i.fa.fa-check-circle
                            | .........
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p ...
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість
                    p.lead
                        strong.color-primary  грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380974254646')
                        i.icon-call-out.icons
                        | Замовити!

//
   Created by Fisk on 19.12.2016.

