#custom-content.white-popup-block.white-popup-block-md
    .row
        .col-md-12
            h1.heading-primary
                strong  Мастило Volkswagen
            hr.solid
            p.lead  моторне мастило Volkswagen Longlife III SAE 5W-30


    //hr
    .row
        .col-md-4
            img.img-responsive(src='ap-img/ap-all-p/ww/ww2.jpg')
        .col-md-8

            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs ПАРАМЕТРИ:
                    ul.list.list-icons
                        li
                            i.fa.fa-check-circle
                            | моторне
                        li
                            i.fa.fa-check-circle
                            | Маркування: G 052 195 M2
                        li
                            i.fa.fa-check-circle
                            |  VW 504.00,507.00
                        li
                            i.fa.fa-check-circle
                            | Об'єм: 5л.
    .row
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Виробник:
                    p Німеччина
        .col-md-4
            ul.portfolio-details
                li
                    h5.mt-sm.mb-xs Вартість:
                    p.lead
                        strong.color-primary 1500 грн.

        .col-md-4
            ul.portfolio-details
                li
                    a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
                        i.icon-call-out.icons
                        | Замовити!


