#custom-content.white-popup-block.white-popup-block-md
  .row
    .col-md-12
      h1.heading-primary
        strong  Прибамбас
      hr.solid
      p.lead  Прибамбас металевий для глушака



  .row
    .col-md-4
      img.img-responsive(src='ap-img/ap-all-p/else/metal4.jpg')
    .col-md-8

      ul.portfolio-details
        li
          h5.mt-sm.mb-xs ПАРАМЕТРИ:
          ul.list.list-icons
            li
              i.fa.fa-check-circle
              | 60*150, 50*150, 60*200
            li
              i.fa.fa-check-circle
              | метал, хром, подвійна сітка

  .row
    .col-md-4
      ul.portfolio-details
        li
          h5.mt-sm.mb-xs Виробник:
          p США
    .col-md-4
      ul.portfolio-details
        li
          h5.mt-sm.mb-xs Вартість:
          p.lead
            strong.color-primary від 125 грн.

    .col-md-4
      ul.portfolio-details
        li
          a.btn.btn-primary.btn-icon.btn-slider.text-decoration-none(href='tel:+380968367658')
            i.icon-call-out.icons
            | Замовити!


